[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/vk-bootstrap"]
	path = vendor/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/sdl"]
	path = vendor/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/vulkan-memory-allocator"]
	path = vendor/vulkan-memory-allocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
